Repository CPU-JIA/go-mastery: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, go-mod-verify, go-test, go-build, goimports, gosec, staticcheck, govulncheck

go-fmt:
  name: go fmt
  description: Run gofmt on Go source files
  entry: gofmt
  args:
  - -w
  - -s
  language: system
  pass_filenames: true

go-vet:
  name: go vet
  description: Run go vet on Go packages
  entry: go
  args:
  - vet
  - ./...
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  description: Ensure go.mod and go.sum are up to date
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

go-mod-verify:
  name: go mod verify
  description: Verify dependencies have expected content
  entry: go
  args:
  - mod
  - verify
  language: system
  pass_filenames: false

go-test:
  name: go test
  description: Run go test on all packages
  entry: go
  args:
  - test
  - -short
  - ./...
  language: system
  pass_filenames: false

go-build:
  name: go build
  description: Build the application
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false

goimports:
  name: goimports
  description: Run goimports on Go source files
  entry: goimports
  args:
  - -w
  language: system
  pass_filenames: true

gosec:
  name: gosec security scanner
  description: Run gosec security scanner
  entry: bash
  args:
  - -c
  ...

staticcheck:
  name: staticcheck
  description: Run staticcheck linter
  entry: bash
  args:
  - -c
  - "if command -v staticcheck >/dev/null 2>&1; then\n  staticcheck ./...\nelse\n  echo \"staticcheck not installed, skipping lint check\"\n  echo \"Install with: go install honnef.co/go/tools/cmd/staticcheck@latest\"\nfi\n"
  ...

govulncheck:
  name: govulncheck
  description: Run Go vulnerability scanner
  entry: bash
  args:
  - -c
  ...

🔧 微服务架构完善与编译错误修复
  05-microservices/02-api-gateway/README.md
  05-microservices/02-api-gateway/go.mod
  05-microservices/02-api-gateway/go.sum
  05-microservices/02-api-gateway/main.go
  05-microservices/07-circuit-breaker/main.go
  05-microservices/09-rate-limiting/main.go
  05-microservices/10-docker/.dockerignore
  05-microservices/10-docker/Dockerfile
  05-microservices/10-docker/README.md
  05-microservices/10-docker/docker-compose.yml
  05-microservices/10-docker/go.mod
  05-microservices/10-docker/go.sum
  05-microservices/10-docker/main.go
  05-microservices/11-kubernetes/README.md
  05-microservices/11-kubernetes/deployment.yaml
  05-microservices/11-kubernetes/ingress.yaml
  05-microservices/11-kubernetes/monitoring.yaml
  05-microservices/12-grpc-communication/README.md
  05-microservices/12-grpc-communication/go.mod
  05-microservices/12-grpc-communication/go.sum
  05-microservices/12-grpc-communication/main.go
  05-microservices/12-grpc-communication/proto/order/v1/order_service.proto
  05-microservices/12-grpc-communication/proto/user/v1/user_service.proto
Due: go-fmt, go-vet, go-mod-tidy, go-mod-verify, go-test, go-build, goimports, gosec, staticcheck, govulncheck

🔧 fix: 修复聊天系统时间序列化测试问题
  06-projects/03-chat-system/chat_test.go
  06.5-performance-fundamentals/pprof_debug.go
  07-runtime-internals/04-performance-profiling/pprof_debug.go
  08-performance-mastery/01-advanced-profiling/pprof_debug.go
  08-performance-mastery/02-production-monitoring/main.go
  09-system-programming/05-virtualization-containers/main.go
Due: go-fmt, go-vet, go-test, go-build, goimports, gosec, staticcheck, govulncheck

🔧 完成空文件夹修复：创建22个核心文件实现项目完整性
  00-assessment-system/tests/assessment_test.go
  00-assessment-system/tools/assessment_tools.go
  06-projects/01-blog-system/docs/api.md
  06-projects/01-blog-system/pkg/logger/logger.go
  06-projects/01-blog-system/pkg/utils/helpers.go
  06-projects/01-blog-system/scripts/deploy.sh
  06-projects/02-ecommerce-backend/scripts/migrate.sh
  06-projects/06-file-storage/.env.example
  06-projects/06-file-storage/Dockerfile
  06-projects/06-file-storage/README.md
  06-projects/06-file-storage/cmd/server/main.go
  06-projects/06-file-storage/docker-compose.yml
  06-projects/06-file-storage/go.mod
  06-projects/06-file-storage/go.sum
  06-projects/06-file-storage/internal/config/config.go
  06-projects/06-file-storage/internal/handlers/file_handler.go
  06-projects/06-file-storage/internal/models/file.go
  06-projects/06-file-storage/internal/services/file_service.go
  06-projects/06-file-storage/internal/storage/database.go
  06-projects/06-file-storage/internal/storage/factory.go
  06-projects/06-file-storage/internal/storage/interface.go
  06-projects/06-file-storage/internal/storage/local.go
  06-projects/06-file-storage/internal/storage/minio.go
  06-projects/06-file-storage/internal/utils/utils.go
  06-projects/06-file-storage/test/file_storage_test.go
Due: go-fmt, go-vet, go-mod-tidy, go-mod-verify, go-test, go-build, goimports, gosec, staticcheck, govulncheck

🚀 feat: 项目企业级重构与代码质量全面提升
  00-assessment-system/go.mod
  00-assessment-system/go.sum
  00-assessment-system/tests/assessment_test.go
  00-assessment-system/tools/assessment_tools.go
  01-basics/06-switch/main.go
  01-basics/10-structs/main.go
  02-advanced/12-go124-features/main.go
  05-microservices/02-api-gateway/go.mod
  05-microservices/02-api-gateway/go.sum
  05-microservices/12-grpc-communication/go.mod
  05-microservices/12-grpc-communication/go.sum
  06-projects/01-blog-system/go.mod
  06-projects/01-blog-system/go.sum
  06-projects/02-ecommerce-backend/go.mod
  06-projects/02-ecommerce-backend/go.sum
  06-projects/06-file-storage/go.mod
  06-projects/06-file-storage/go.sum
  06-projects/06-file-storage/test/file_storage_test.go
  09-system-programming/01-operating-system-interface/main.go
  CLAUDE.md
  go.mod
  go.sum
  internal/config/config.go
  internal/testutil/testutil.go
  pkg/utils/utils.go
Due: go-fmt, go-vet, go-mod-tidy, go-mod-verify, go-test, go-build, goimports, gosec, staticcheck, govulncheck

🔒 安全漏洞修复：完全解决CI/CD检测到的中高级安全问题
  09-system-programming/01-operating-system-interface/main.go
Due: go-fmt, go-vet, go-test, go-build, goimports, gosec, staticcheck, govulncheck

🛡️ 终极安全修复：实现真正的零安全警告目标
  09-system-programming/01-operating-system-interface/main.go
Due: go-fmt, go-vet, go-test, go-build, goimports, gosec, staticcheck, govulncheck

🔧 fix(ci): 修复GitHub Actions中gosec安装URL
  .github/workflows/quality-assurance.yml
Due: none

🔒 feat(security): 【阶段1完成】修复35个HIGH级别G115整数溢出漏洞
  06.5-performance-fundamentals/main.go
  07-runtime-internals/01-gc-internals/main.go
  08-performance-mastery/01-advanced-profiling/main.go
  08-performance-mastery/03-optimization-techniques/main.go
  common/security/safe_conversion.go
  common/security/safe_conversion_test.go
  quality-summary-report/quality-summary.md
  scripts/reorganize.sh
  security-scan-reports/gosec-report.txt
Due: go-fmt, go-vet, go-test, go-build, goimports, gosec, staticcheck, govulncheck

🔒 fix(security): 【阶段2完成】修复132个MEDIUM级别安全漏洞(G301/G306/G304/G204/G103)
  00-assessment-system/evaluators/code_quality.go
  00-assessment-system/evaluators/project_eval.go
  04-web/01-http-basics/main.go
  04-web/06-templates/main.go
  04-web/07-file-upload/main.go
  05-microservices/03-configuration/main.go
  06-projects/01-blog-system/main.go
  06-projects/02-ecommerce-backend/main_original.go
  06-projects/03-chat-system/main.go
  06-projects/04-task-scheduler/main.go
  06-projects/05-monitoring-system/main.go
  06-projects/06-file-storage/internal/storage/local.go
  06-projects/06-file-storage/main_original.go
  06.5-performance-fundamentals/main.go
  07-runtime-internals/01-gc-internals/main.go
  07-runtime-internals/03-memory-allocator/main.go
  07-runtime-internals/04-performance-profiling/main.go
  07-runtime-internals/05-channel-internals/main.go
  08-performance-mastery/03-optimization-techniques/main.go
  08-performance-mastery/05-performance-testing/main.go
  09-system-programming/01-operating-system-interface/main.go
  09-system-programming/03-kernel-interaction/main.go
  09-system-programming/05-virtualization-containers/main.go
  common/security/file_operations.go
  common/security/file_operations_test.go
  common/security/path_validation.go
  security-scan-reports/gosec-report.txt
Due: go-fmt, go-vet, go-test, go-build, goimports, gosec, staticcheck, govulncheck

🐛 fix(build): 修复CI/CD编译错误(移除未使用导入和平台特定代码)
  08-performance-mastery/05-performance-testing/main.go
  09-system-programming/02-advanced-networking/main.go
Due: go-fmt, go-vet, go-test, go-build, goimports, gosec, staticcheck, govulncheck

🔒 fix(security): 修复安全库本身的G304/G301漏洞
  common/security/file_operations.go
Due: go-fmt, go-vet, go-test, go-build, goimports, gosec, staticcheck, govulncheck

🔒 fix(security): 批量修复G304路径遍历漏洞(第1批:9处)
  00-assessment-system/evaluators/project_eval.go
  02-advanced/07-packages/utils/file.go
Due: go-fmt, go-vet, go-test, go-build, goimports, gosec, staticcheck, govulncheck

🔒 fix(security): 修复26个G304路径遍历漏洞（MEDIUM级别）
  00-assessment-system/evaluators/code_quality.go
  00-assessment-system/tools/assessment_tools.go
  04-web/07-file-upload/main.go
  05-microservices/03-configuration/main.go
  06-projects/02-ecommerce-backend/main_original.go
  06-projects/03-chat-system/main.go
  06-projects/05-monitoring-system/main.go
  06-projects/06-file-storage/internal/storage/local.go
  06-projects/06-file-storage/main_original.go
  08-performance-mastery/03-optimization-techniques/main.go
  09-system-programming/05-virtualization-containers/main.go
Due: go-fmt, go-vet, go-test, go-build, goimports, gosec, staticcheck, govulncheck

🔒 fix(security): 修复28个G301文件权限漏洞（MEDIUM级别-CWE-276）
  02-advanced/07-packages/utils/file.go
  04-web/01-http-basics/main.go
  04-web/06-templates/main.go
  04-web/07-file-upload/main.go
  05-microservices/03-configuration/main.go
  06-projects/01-blog-system/main.go
  06-projects/02-ecommerce-backend/main_original.go
  06-projects/03-chat-system/main.go
  06-projects/04-task-scheduler/main.go
  06-projects/05-monitoring-system/main.go
  06-projects/06-file-storage/internal/storage/local.go
  06-projects/06-file-storage/main_original.go
  07-runtime-internals/04-performance-profiling/main.go
  09-system-programming/05-virtualization-containers/main.go
Due: go-fmt, go-vet, go-test, go-build, goimports, gosec, staticcheck, govulncheck

🧹 chore(cleanup): 项目专业化重组 - 清理临时文件和优化目录结构
  .github/workflows/quality-assurance.yml
  .gitignore
  00-assessment-system/evaluators/code_quality.go
  00-assessment-system/evaluators/project_eval.go
  00-assessment-system/models/assessment.go
  00-assessment-system/models/competency.go
  00-assessment-system/models/student.go
  00-assessment-system/tests/assessment_test.go
  00-assessment-system/tools/assessment_tools.go
  01-basics/03-constants/main.go
  06-projects/01-blog-system/internal/middleware/security.go
  06-projects/01-blog-system/internal/validation/validator.go
  06-projects/01-blog-system/pkg/logger/logger.go
  06-projects/01-blog-system/pkg/utils/helpers.go
  CLAUDE.md
  README.md
  common/security/file_operations.go
  common/security/file_operations_test.go
  common/security/path_validation.go
  common/security/safe_conversion.go
  common/security/safe_conversion_test.go
  docs/QUALITY_SYSTEM.md
  docs/README.md
  pkg/utils/utils.go
Due: go-fmt, go-vet, go-test, go-build, goimports, gosec, staticcheck, govulncheck

🏗️ feat(infrastructure): 新增企业级基础设施 - Dependabot和常量管理
  .github/dependabot.yml
  00-assessment-system/evaluators/constants.go
  00-assessment-system/models/constants.go
  00-assessment-system/utils/result_saver.go
  common/utils/utils.go
Due: go-fmt, go-vet, go-test, go-build, goimports, gosec, staticcheck, govulncheck

📚 docs(navigation): 新增完整文档导航和学习路径系统
  01-basics/README.md
  02-advanced/README.md
  03-concurrency/README.md
  06-projects/README.md
  docs/DEPENDENCY_MANAGEMENT.md
  docs/LEARNING_PATH_QUICK_REFERENCE.md
  docs/PROJECT_COMPLETION_REPORT.md
Due: none

✨ feat(system-programming): 新增跨平台系统编程工具包 sysutil
  09-system-programming/sysutil/README.md
  09-system-programming/sysutil/doc.go
  09-system-programming/sysutil/example/main.go
  09-system-programming/sysutil/go.mod
  09-system-programming/sysutil/network/network.go
  09-system-programming/sysutil/network/network_test.go
  09-system-programming/sysutil/process/process.go
  09-system-programming/sysutil/process/process_test.go
  09-system-programming/sysutil/process/process_unix.go
  09-system-programming/sysutil/process/process_windows.go
  09-system-programming/sysutil/resource/resource.go
  09-system-programming/sysutil/resource/resource_test.go
  09-system-programming/sysutil/resource/resource_unix.go
  09-system-programming/sysutil/resource/resource_windows.go
Due: go-fmt, go-vet, go-mod-tidy, go-test, go-build, goimports, gosec, staticcheck, govulncheck

Path conditions:
  go-fmt: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .*\.pb\.go$|
  .*_generated\.go$
)$
  go-vet: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .*\.pb\.go$|
  .*_generated\.go$
)$
  go-mod-tidy: any of: go\.(mod|sum)$, but not: (?x)^(
  vendor/.*|
  .*\.pb\.go$|
  .*_generated\.go$
)$
  go-mod-verify: any of: go\.sum$, but not: (?x)^(
  vendor/.*|
  .*\.pb\.go$|
  .*_generated\.go$
)$
  go-test: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .*\.pb\.go$|
  .*_generated\.go$
)$
  go-build: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .*\.pb\.go$|
  .*_generated\.go$
)$
  goimports: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .*\.pb\.go$|
  .*_generated\.go$
)$
  gosec: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .*\.pb\.go$|
  .*_generated\.go$
)$
  staticcheck: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .*\.pb\.go$|
  .*_generated\.go$
)$
  govulncheck: any of: \.go$, but not: (?x)^(
  vendor/.*|
  .*\.pb\.go$|
  .*_generated\.go$
)$
